@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    @apply bg-white text-black;
  }

  @font-face {
    font-family: 'Halis Rounded';
    src: url('https://db.onlinewebfonts.com/t/0744a43ed7aae5161634f8ecd3ba5616.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  display: inline-block;
}

.nav-button {
  @apply font-['Halis_Rounded'] text-sm tracking-widest transition-colors;
}